<CascadingAuthenticationState>                                                               @* // *@
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        @* <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /> *@            

            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"> @* // *@
                <NotAuthorized>                                                               @* // *@
                    @* <BlazorGameApp.Client.Pages.Login></BlazorGameApp.Client.Pages.Login> *@
                    <Login></Login>
                    @* <h2>Whoops!</h2>
                    It seems like you have not logged in *@
                </NotAuthorized>

            </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

</CascadingAuthenticationState>
